<header>
  <h1>Angular Change Detection Visualizer</h1>
  <h2>zone.js enabled</h2>
  <h3>
    <a
      href="https://ng-change-detection-lab-zoneless.vercel.app/"
      target="_blank"
      >zoneless version</a
    >
  </h3>

  <div class="actions">
    <div class="actions">
      <button class="primary-btn" [attr.text]="'App tick'" #tickButton>
        App tick
      </button>
      <button class="primary-btn" [attr.text]="'setTimeout'" #setTimeoutButton>
        setTimeout
      </button>
      <button
        class="primary-btn"
        [attr.text]="'Http Request'"
        #httpRequestButton
      >
        Http Request
      </button>
    </div>
  </div>
</header>

<main>
  <div
    class="tree-container display-dirty-status display-dirty display-views-to-refresh"
  >
    <div class="cd-status-color-reference-container">
      <div class="cd-status-color-reference">
        <span class="dot-dirty"></span>Dirty
      </div>
      <div class="cd-status-color-reference">
        <span class="dot-views-to-refresh"></span>HasChildViewsToRefresh
      </div>
    </div>
    <div class="tree">
      <div class="node root">
        {{ cdCheck() }}
        <div>
          <select (change)="select($event)">
            <option value="0">Large</option>
            <option value="1">Mix</option>
            <option value="2">Only Default</option>
            <option value="3">Only OnPush</option>
            <option value="4">Random</option>
          </select>
        </div>
        <div class="children">
          @if (selectedTree().type === ChangeDetectionStrategy.Default) {
          <syn-default #nodeRef [node]="selectedTree()"></syn-default>
          } @if (selectedTree().type === ChangeDetectionStrategy.OnPush) {
          <syn-onpush #nodeRef [node]="selectedTree()"></syn-onpush>
          }
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <p>Created with ❤️ by <a href="">Stefanos Lignos</a></p>
</footer>
