
:root {
  --view-color-background: #fff;
  --view-color-1: #303030;
  --view-color-2: #a3d7ec;
  --view-color-3: #f0a2b9;
  --view-color-text: #303030;
  --view-color-text-inverted: white;
  --background-color: #eeeeee;

  --view-color-check-enabled: #f0a2b9;
  --view-color-check-disabled: #30303018;

  --tree-line-color: #949191;
  --tree-line-width: 0.125em;
  --tree-node-margin: 2em;
  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    #fa2c04 0%,
    #f637e3 50%,
    #8514f5 100%
  );
}

* {
  margin: 0;
}

html {
  max-width: 100vw;
}

body {
  font-family: monospace;
  color: var(--view-color-text);
  font-weight: 400;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;

  > syn-zoneless-entry {
    max-width: min(1200px, 100%);
  }
}

select {
  font-size: 0.9rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

main {
  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    button {
      font-size: 1rem;
      margin: 0.5rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.tree-container {
  position: relative;
  width: 100%;
  min-width: 700px;
  display: grid;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  .tree {
    font-size: 1rem;
  }
}

.node {
  display: flex;
  flex-direction: column;

  &.checked {
    > .content {
		border-image: var(--red-to-pink-to-purple-horizontal-gradient) 1;
		border-width: 1px;
		border-style: solid;
		border-radius: 0.25em;
		background: var(--red-to-pink-to-purple-horizontal-gradient);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		margin-block: 0;

		transition: background-position 1s ease-out;
		background-size: 200% 100%;
		background-position: 100% 0%;
		position: relative;

		&::after {
			content: "";
			width: 6.5rem;
      height: 4.5rem;
			background-color: #fffcfc;
			display: block;
			position: absolute;
			z-index: -1;
		}
    }
  }

  .content {
    cursor: pointer;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1em;
    width: 6.5rem;
    height: 4.5rem;
    border-radius: 0.25em;
	  border: 1px solid var(--view-color-background);
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.15);
    background-color: var(--view-color-background);
    color: var(--view-color-text);
    transition: background-color 200ms ease-in-out;

    > p {
      pointer-events: none;
    }
  }

  > .children {
    display: flex;
    margin-top: var(--tree-node-margin);
    position: relative;

    &::after {
      content: "";
      height: calc(var(--tree-node-margin) * 0.5);
      width: var(--tree-line-width);
      background-color: var(--tree-line-color);
      display: block;
      left: 50%;
      top: calc(-1 * var(--tree-node-margin));
      position: absolute;
    }

    > * {
      flex-grow: 1;
      position: relative;

      &::after {
        content: "";
        height: calc(var(--tree-node-margin) * 0.5);
        width: var(--tree-line-width);
        background-color: var(--tree-line-color);
        display: block;
        left: 50%;
        top: calc(var(--tree-node-margin) * -0.5);
        position: absolute;
      }

      &:first-child:not(:only-child) {
        &::before {
          content: "";
          height: var(--tree-line-width);
          width: 50%;
          background-color: var(--tree-line-color);
          display: block;
          left: 50%;
          top: calc(var(--tree-node-margin) * -0.5);
          position: absolute;
        }
      }

      &:not(:only-child):not(:first-child):not(:last-child) {
        &::before {
          content: "";
          height: var(--tree-line-width);
          width: 100%;
          background-color: var(--tree-line-color);
          display: block;
          top: calc(var(--tree-node-margin) * -0.5);
          position: absolute;
        }
      }

      &:last-child:not(:only-child) {
        &::before {
          content: "";
          height: var(--tree-line-width);
          width: 50%;
          background-color: var(--tree-line-color);
          display: block;
          right: 50%;
          top: calc(var(--tree-node-margin) * -0.5);
          position: absolute;
        }
      }
    }
  }
}

.cd-status-color-reference-container {
  font-size: 0.9rem;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 207px;
  border: 1px solid #bcacac;
  border-radius: 5px;
  align-items: end;

  & .cd-status-color-reference-title {
    color: gray;
    padding-bottom: 10px;
  }

  & .cd-status-color-reference {
    position: relative;
    padding-right: 1rem;
  }

  & .dot-views-to-refresh {
    position: absolute;
    bottom: 0.2em;
    right: 0;
    height: 0.8em;
    width: 0.8em;
    background-color: #0546ff;
    border-radius: 50%;
    display: block;
  }

  & .dot-dirty {
    position: absolute;
    bottom: 0.2em;
    right: 0;
    height: 0.8em;
    width: 0.8em;
    background-color: var(--view-color-check-enabled);
    border-radius: 50%;
    display: block;
  }
}

.display {
  &-views-to-refresh {
    .views-to-refresh {
      position: absolute;
      bottom: 0.25em;
      right: 0.25em;
      height: 0.8em;
      width: 0.8em;
      background-color: var(--view-color-check-disabled);
      border-radius: 50%;
      display: block;

      &.enabled {
        background-color: #0546ff;
      }
    }
  }
  &-dirty {
    .dirty {
      position: absolute;
      bottom: 0.25em;
      right: 0.25em;
      height: 0.8em;
      width: 0.8em;
      background-color: var(--view-color-check-disabled);
      border-radius: 50%;
      display: block;

      &.enabled {
        background-color: var(--view-color-check-enabled);
      }
    }
  }
}

syn-context-menu {
  position: absolute;
  top: 0;
}

.context-menu {
  width: 130px;
  display: grid;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  border-radius: 0.25em;
  overflow: hidden;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 1;
  transition:
    opacity 150ms ease-in-out,
    visibility 150ms;

  &.display {
    visibility: visible;
    opacity: 1;
  }

  button {
    font-size: 0.8em;
    background: var(--view-color-text);
    color: var(--view-color-text-inverted);
    padding: 0.25em 0.5em;
    transition:
      background-color 200ms ease-in-out,
      color 200ms ease-in-out;

    &:hover {
      background: var(--view-color-3);
    }
  }
}

.primary-btn {
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  width: max-content;
  color: transparent;
  background: var(--red-to-pink-to-purple-horizontal-gradient);

  &::before {
    content: attr(text);
    position: absolute;
    inset: 1px;
    background: radial-gradient(circle, white 0%, white 100%);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, background 0.3s ease;
    color: #151417;
  }

  // solid color negative space - CSS transition supported
  &::after {
    content: attr(text);
    position: absolute;
    inset: 1px;
    background: white;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, background 0.3s ease;
    color: #151417;
  }

  &:hover {
    animation: spin-gradient 4s linear infinite forwards;
    &::before {
      background-color: radial-gradient(circle, white 0%, white 100%);
      background: radial-gradient(
        circle at center bottom,
        #ffd7e1 0%,
        white 80%
      );
      opacity: 0.9;
    }
    &::after {
      opacity: 0;
    }
  }
}

.no-scroll {
  overflow: hidden;
}
